---
title: Books
layout: layouts/analytics.liquid
---

{% assign years = books.years | reverse %}
{% assign stats = collections.stats %}

<div class="page books">
  <div class="left bookStats">
    <div>
      <h4>Books by Years</h4>
      {% booksByYearSVG stats.yearStats, '{ "width": 1100, "height": 290, "fontSizeScale": 2 }' %}
    </div>
    <div>
      <h4>Pages by Years</h4>
      {% pagesByYearSVG stats.yearStats, '{ "width": 1100, "height": 290, "fontSizeScale": 2 }' %}
    </div>
    <div class="list">
      <h4>Stats</h4>
      <table>
        <tr>
          <td></td>
          <td>Books</td>
          <td>Pages</td>
        </tr>
        <tr>
          <td>Most</td>
          <td>{{ stats.mostBooksBooks | number_with_delimiter }} ({{ stats.mostBooksYear }})</td>
          <td>{{ stats.mostPagesPages | number_with_delimiter }} ({{ stats.mostPagesYear }})</td>
        <tr>
          <td>Current</td>
          <td>{{ stats.currentlyReadingBooks | number_with_delimiter }}</td>
          <td>
            {{ stats.currentlyReadingProgress | number_with_delimiter }}/{{ stats.currentlyReadingPages | number_with_delimiter }}
          </td>
        </tr>
        <tr>
          <td>This Year</td>
          <td>{{ stats.thisYearBooks | number_with_delimiter }} ({{ stats.thisYearBooksRank | to_ordinal }})</td>
          <td>{{ stats.thisYearPages | number_with_delimiter }} ({{ stats.thisYearPagesRank | to_ordinal }})</td>
        </tr>
        <tr>
          <td>All Time</td>
          <td>{{ stats.totalBooks | number_with_delimiter }}</td>
          <td>{{ stats.totalPages | number_with_delimiter }}</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="right">
    <div>
      <h4>Currently Reading </h4>
      <div class="shelf">
        {% assign current_books = books | currentlyReading | sort: "dateStart" | reverse %}
        {% for book in current_books %}
          {% include 'partials/bookCover' %}
        {% endfor %}
      </div>
      <div>
        <h4>Reading Goals</h4>
        <div class="goalProgress">
          {% goalProgress goals stats.yearStats %}
        </div>
      </div>
    </div>
  </div>
</div>