---
title: Books
layout: layouts/base.liquid
---
<div class="page books">
  {% include 'partials/bookStats' %}
  {% include 'partials/bookSelector' %}

  <h3>Currently Reading </h3>
  {% assign current_books = books | currentlyReading | sort: "dateStart" | reverse %}

  <ul class="shelf">
    {% for book in current_books %}
      {% include 'partials/bookCover' %}
    {% endfor %}
  </ul>

  {% for stat in collections.stats.yearStats %}
    {% assign year_string = stat.year | append: "" %}
    {% assign year_books = books | where: "year", year_string | sort: "dateFinish" | reverse %}
    <h3>
      <div>
        {{ stat.year }} <span>{{ stat.books | number_with_delimiter }} books</span><span>{{ stat.pages | number_with_delimiter }} pages</span>
      </div>
      {% if goals[stat.year] %}
        <div>
          <progress id="file" max="{{ goals[stat.year] }}" value="{{ stat.books }}"></progress><span>{{ stat.books }}/{{ goals[stat.year] }} books</span>
        </div>
      {% endif %}
      </h3>
    <ul class="shelf">
      {% for book in year_books %}
        {% include 'partials/bookCover' %}
      {% endfor %}
    </ul>
  {% endfor %}
</div>
