---
title: Projects
layout: layouts/base.liquid
---
<div class="page projects">
  {% for project in projects %}
    {% assign src = project.images[0].url %}
    {% assign alt = project.images[0].alt %} 
    <li>
      <a href="/project/{{ project.name | slugify }}">
        {% image src, alt, "project" %}
        <div>
          <h2>{{ project.name }}</h2>
          <p class="client">{{ project.client }}</p>
          <ul class="stack">
            {%- if project.frontend -%}
              {% for item in project.frontend %}
                <li class="front">{{ item }}</li>
              {% endfor %}
            {%- endif -%}
            {%- if project.backend -%}
              {% for item in project.backend %}
                <li class="back">{{ item }}</li>
              {% endfor %}
            {%- endif -%}
            {%- if project.host -%}
              {% for item in project.host %}
                <li class="host">{{ item }}</li>
              {% endfor %}
            {%- endif -%}
          </ul>
        </div>
      </a>
    </li>
  {% endfor %}
</div>
