---
title: "Steve Stone"
layout: layouts/base.liquid
---
<div class="page about">
  <div class="bio">
    <h3>About</h3>
    {{ me.bio }}
  </div>

  <div class="work history">
    <h3>Work History</h3>
    <ul>
      {% for work in me.work %}
      <li>
        <span class="dot-double"></span>
        <div>
          <h4>{{ work.company }}</h4>
          <p>{{ work.title }}</p>
          <p class="dates">{{ work.dates }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="education history">
    <h3>Education History</h3>
    <ul>
      {% for education in me.education %}
      <li>
        <span class="dot-double"></span>
        <div>
          <h4>{{ education.school }}</h4>
          <p>{{ education.study }}</p>
          <p class="dates">{{ education.dates }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="enneagram personality">
    <h3>Enneagram</h3>
    {{ "/src/img/icons/enneagram.svg" | svgContents: "icon" }}
    <span>{{ me.personality.enneagram}}</span>
  </div>

  <div class="briggsMyers personality">
    <h3>Briggs-Myers</h3>
    {{ "/src/img/icons/briggsMyers.svg" | svgContents: "icon" }}
    <span>{{ me.personality.briggsMyers}}</span>
  </div>

  <div class="strengthsFinder personality">
    <h3>Strengths Finder</h3>
    {{ "/src/img/icons/strengthsFinder.svg" | svgContents: "icon" }}
    <ol>
      {% for strength in me.personality.strengthsFinder %}
      <li>{{ strength }}</li>
      {% endfor %}
    </ol>
  </div>

  <div class="workingGenius personality">
    <h3>Working Genius</h3>
    {{ "/src/img/icons/workingGenius.svg" | svgContents: "icon" }}
    <ol>
      {% for genius in me.personality.workingGenius %}
      <li>{{ genius }}</li>
      {% endfor %}
    </ol>
  </div>
  
</div>