<header>
  <div class="content">
    <div>
      <img class="avatar" src="/img/steveostudios2.jpg" />
      <div>
        <h1><a href="/">{{ me.name }}</a></h1>
        <h2>{{ me.subtitle }}</h2>
        <ul class="socials">
          {% for social in me.socials %}
          <li>
            <a href={{social.url}} alt={{social.network}}>{{ social.icon | svgContents: "icon" }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
      <nav>
        <ul>
          <li>
            <a href="/">
              <span class="icon">
                {{ "/src/img/icons/home.svg" | svgContents: "icon" }}
              </span>
              <span class="title">About</span>
            </a>
          </li>
          <li>
            <a href="/blog">
              <span class="icon">
                {{ "/src/img/icons/rss.svg" | svgContents: "icon" }}
              </span>
              <span class="title">Blog</span>
            </a>
          </li>
          <li>
            <a href="/projects">
              <span class="icon">
                {{ "/src/img/icons/code-solid.svg" | svgContents: "icon" }}
              </span>
              <span class="title">Projects</span>
            </a>
          </li>
          <li>
            <a href="/books">
              <span class="icon">
                {{ "/src/img/icons/books.svg" | svgContents: "icon" }}
              </span>
              <span class="title">Books</span>
            </a>
          </li>
        </ul>
      </nav>
  </div>
</header>