<aside>
  {%- if project.front_end -%}
    <section>
      <h4>Front End</h4>
      <ul>
        {% for item in project.front_end %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>
  {%- endif -%}
  {%- if project.back_end -%}
    <section>
      <h4>Back End</h4>
      <ul>
        {% for item in project.back_end %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>
  {%- endif -%}
  {%- if project.host -%}
    <section>
      <h4>Hosting</h4>
      <ul>
        {% for item in project.host %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </section>
  {%- endif -%}
  {%- if url -%}
    <section>
      <a href="{{ url }}">Go to site</a>
    </section>
  {%- endif -%}
  {%- if repo -%}
    <section>
      <a href="{{ repo }}">Go to repo</a>
    </section>
  {%- endif -%}
</aside>